.sidebar {
    /* border: 1px solid #ddd;  */
    height: 650px;
    width: 200px;
    background: #fff;
    padding: 20px;
    top: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    
  }
  .sidebar-item:hover{
    width: 200px;
    background: #000;
    color: #FFF;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
  }
  .sidebar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    font-size: 16px;
    /* border: 1px solid #000; */
    width: 100%;
  }

  .icon {
    margin-right: 10px;
    font-size: 18px;
  }
.logo {
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 8px;
    font-size: 25px;
  }
.a{
    color: #06A664;
}
.b{
    color: #E6B800;
}
.c{
    color: 000000;
}
.itemCenter{
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    gap: 0.3em;
}
.proj{
    margin-right: 48px;
}
.message{
    margin-right: 15px;
}
.fonds{
    margin-right: 38px;
}
.param{
    margin-left: 10px;
}